<% content_for :heading, "Chore entries" %>

<p style="color: green"><%= notice %></p>

<%= month_calendar(events: @chore_entries) do |date, chores| %>
  <div class="<%= day_color(date, chores) %>">
    <%= date %>
  </div>

  <% if chores.any? %>
    <ul>
      <% chores.each do |chore| %>
        <li>
          <%= chore.name %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Edit", edit_chore_entry_path(date, start_date: date), class: "btn btn-secondary" %>
  <% elsif date <= Date.today %>
    <%= link_to "Add chores", new_chore_entry_path(start_date: date), class: "btn btn-primary" %>
  <% end %>
<% end %>

<style>
.done { background-color: #90EE90; }
.pending { background-color: #FF7F7F; }
</style>