<p style="color: green"><%= notice %></p>

<h1>Chore entries</h1>

<%= month_calendar(events: @chore_entries) do |date, chores| %>
  <div class="<%= day_color(date, chores) %>">
    <%= date %>
  </div>

  <% if chores.any? %>
    <%= link_to "Edit chores", edit_chore_entry_path(date, start_date: date) %>
    <ul>
      <% chores.each do |chore| %>
        <li>
          <%= chore.name %>
        </li>
      <% end %>
    </ul>
  <% elsif date <= Date.today %>
    <%= link_to "Add chores", new_chore_entry_path(start_date: date) %>
  <% end %>
<% end %>

<%= link_to "New chore entry", new_chore_entry_path %>

<style>
.done { background-color: #90EE90; }
.pending { background-color: #FF7F7F; }
</style>