<p style="color: green"><%= notice %></p>

<%= render @chore_entry %>

<div>
  <%= link_to "Edit this chore entry", edit_chore_entry_path(@chore_entry) %> |
  <%= link_to "Back to chore entries", chore_entries_path %>

  <%= button_to "Destroy this chore entry", @chore_entry, method: :delete %>
</div>
