<% content_for :heading, "Chores" %>

<p style="color: green"><%= notice %></p>

<%= link_to "New chore", new_chore_path, class: "btn btn-primary" %>

<div id="chores">
  <%= paginate @chores %>
  <% @chores.each do |chore| %>
    <%= render chore %>
    <p>
      <%= link_to "Show this chore", chore %>
    </p>
  <% end %>
  <%= paginate @chores %>
</div>

<%= link_to "New chore", new_chore_path, class: "btn btn-primary" %>