<% content_for :heading, "Expenses" %>

<p style="color: green"><%= notice %></p>

<ul>
  <li>
    <%= link_to "New expense", new_expense_path %>
  </li>
  <li>
    <%= link_to "Dashboard", dashboard_index_path %>
  </li>
  <li>
    <%= link_to "Chore entries", chore_entries_path %>
  </li>
</ul>

<div id="expenses">
  <%= paginate @expenses %>
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
      <%= link_to "Show this expense", expense %>
    </p>
  <% end %>
  <%= paginate @expenses %>
</div>

<ul>
  <li>
    <%= link_to "New expense", new_expense_path %>
  </li>
  <li>
    <%= link_to "Dashboard", dashboard_index_path %>
  </li>
  <li>
    <%= link_to "Chore entries", chore_entries_path %>
  </li>
</ul>