<!DOCTYPE html>
<html>
  <head>
    <title>ChoreTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <%= render partial: 'layouts/navigation' %>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">
            <%= render partial: 'layouts/topbar' %>
            <!-- Begin Page Content -->
            <div class="container-fluid">
              <%= render partial: 'layouts/page_heading' %>
              <%= yield %>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
